@import url("https://use.typekit.net/fmf0nsi.css")

.scroll-wrapper
    display: flex
    flex-direction: row

.scroll-wrapper-wrapper
    display: flex
    align-items: center
    width: 100%
    background-image: url(../img/5qualitybg.svg)


.scroll-box-element
    display: flex
    justify-content: space-around
    width: 550px
    margin: 100px
    height: 300px
    padding: 25px
    flex-direction: row
    border-radius: 10px
    z-index: 3

.blurry-edges-div
    position: absolute
    width: 550px
    height: 300px
    z-index: -2
    backdrop-filter: brightness(80%)
    // filter: blur(5px)

.edge-blurer-div
    position: absolute
    width: 575px
    height: 315px
    z-index: -1
    backdrop-filter: blur(5px)
    top: -7.5px


.spacer
    height: 100px
    background-color: #97d1e2

.scroll-text-header
    font-size: 30px
    color: white
    font-weight: 800
    margin-top: 15px
    width: 250px
    text-align: center
    height:1em

.scroll-box-description
    color: white
    margin: 20px
    // height:100px
    width: 200px
    // text-align: center
    align-self: center



.image-wrapper
    display: flex
    align-items: center

.header-description-wrapper
    display: flex
    flex-direction: column
    justify-content: center

.five-qualities
    font-weight: 800

.header-text-font
    font-family: "scale-variable", sans-serif
    font-variation-settings: "wght" 200, "wdth" 50
    font-size: 45px
    letter-spacing: .1rem

html.lenis 
    height: auto

.lenis.lenis-smooth 
    scroll-behavior: auto

.lenis.lenis-smooth [data-lenis-prevent] 
    overscroll-behavior: contain

.lenis.lenis-stopped 
    overflow: hidden

@media screen and (prefers-reduced-motion) 
    .scroll-wrapper
        flex-direction: column
    .scroll-wrapper-wrapper
        flex-direction: column
        // height: 100%
    body
        background:lightgrey
        height: 100%
    html
        height: 100%
    .scroll-box-element
        margin: 25px

@media not screen and (prefers-reduced-motion: reduce)
    .scroll-wrapper-wrapper
        height:100vh