*
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    margin: 0px
    line-height: normal

code
    width: fit-content
    // border: solid 5px black
    border-radius: 5px
    font-family: 'Courier New', Courier, monospace

td:nth-child(2), td:nth-child(3)
    text-align: center



