body
     background-color: #1a1a1a
     color: #e2e2e2


.me-img
     width: 25vw
     height: auto
     margin: 32px
     align-self: end

.me-img:after
     width: 100%
     height: 100%
     // inset: 25%
     border: 8px #458BA1 solid

.hero-section
     display: flex
     justify-content: space-around
     align-items: center
     margin: 0px 8vw

.hero-yapping
     width: 450px
     font-size: 14px
     line-height: 1.5
     margin-left: 16px
     margin-top: -4px

.homepage-text
     height: fit-content

.hero-header
     margin-bottom: 8px
     font-family: "cormorant-garamond", serif
     font-weight: 700
     font-style: normal
     font-size: 6rem
     word-spacing: 1000000px
     line-height: 1
     letter-spacing: 20%
     margin-bottom: 40px
     margin-top: 16px

.grainy-background
     padding-top: 8px
     // background-image: url("../img/homepage.svg")
     margin-top: -8px

.five-qualities-button
     padding-left: 16px
     padding: 1rem
     width: fit-content
     display: block
     white-space: nowrap

.tagline-box
     width: 42px
     height: 6px
     background: #458BA1
     margin-right: 8px

.tagline-wrapper
     display: flex
     justify-content: row
     align-items: center

.header-body-text-wapper
     display: flex
     flex-direction: row

.yapping-side-color-bar
     height: 100%
     width:8px
     background: #458BA1

.yapping-side-color-bar-wrapper
     display: flex
     flex-direction: row